body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: [col1-start] 50px [col2-start] 50px [col3-start] 50px [col3-end];
    grid-template-rows: [row1-start] 50px [row2-start] 50px [row2-start] 50px [row3-end];
}

.box {
    border: 3px solid black;
    color: transparent;
    padding: 20px;
    font-size: 150%;
}

.a {
    grid-area: (1 / 1 );
    background-color: black;
}
.b {
    grid-area: ( 1 / 2 );
}
.c {
    grid-area: ( 1 / 3 );
    background-color: black;
}
.d {
    grid-area: ( 2 / 1);
}
.e {
    background-color: black
}
.f {
    
}
.g {
    background-color: black
}
.h {
    
}
.i {
    background-color: black
}